<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Find similar image</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="query_img"><br>
        <input type="submit">
    </form>
    <h2>Uploaded img:</h2>
    {% if query_path %}
    <img src="{{query_path}}" width="300px">
    {% endif %}
    <h2>Results:</h2>
    {% for score in scores %}
    <figure style="float: left; margin-right: 20px;margin-bottom: 20px;">
        <img src="{{ score[1] }}" height="200px" alt="">
        <figcaption>{{ score[0] }}</figcaption>
    </figure>
    {% endfor %}
</div>
</body>
</html>

